<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список дел</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>

    <div id="app">
        <section class="vh-100" style="background-color: #e2d5de;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">

                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">

                                <h3 class="mb-3">Список задач</h3>
                                <h6 class="mb-3">
                                    <a href="#!" data-mdb-toggle="tooltip" title="Remove item"
                                        v-on:click="removeStorage">
                                        Очистить хранилище
                                    </a></h6>

                                <form class="d-flex justify-content-center align-items-center mb-4">
                                    <div class="form-outline flex-fill">
                                        <input type="text" id="form3" class="form-control form-control-lg"
                                            v-bind:value="valueInput" v-on:input="handlerInput"
                                            v-on:keypress.enter="addTask" />
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg ms-2"
                                        v-on:click="addTask">Добавить</button>
                                </form>

                                <ul class="list-group mb-0">
                                    <h6 class="mb-3">Активные</h6>
                                    <li v-for="(mask, index) in needDoList" :key="mask.id"
                                        class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                                        <div class="d-flex align-items-center">
                                            <input class="form-check-input me-2" type="checkbox" value=""
                                                aria-label="..." v-on:change="doCheck(index, 'need')" />
                                            {{ mask.title }}
                                        </div>
                                        <a href="#!" data-mdb-toggle="tooltip" title="Remove item"
                                            v-on:click="removeMask(index, 'need')">
                                            Удалить
                                        </a>
                                    </li>
                                </ul>

                                <ul class="list-group mb-0">
                                    <h6 class="mb-3">Выполненные</h6>
                                    <li v-for="(mask, index) in completeDoList" :key="mask.id"
                                        class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                                        <div class="d-flex align-items-center">
                                            <input class="form-check-input me-2" type="checkbox" value=""
                                                aria-label="..." v-on:change="doCheck(index, 'complete')" checked />
                                            <s>{{ mask.title }}</s>
                                        </div>
                                        <a href="#!" data-mdb-toggle="tooltip" title="Remove item"
                                            v-on:click="removeMask(index, 'complete')">
                                            Удалить
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>


</body>
<script src="https://unpkg.com/vue@next"></script>
<script src="js/app.js"></script>

</html>
